.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.title {
  margin-top: 70px;
  text-align: center;
}

@media (max-width: 660px) {
  .title {
    margin-top: 30px;
  }
}

/*---------------swiper-----------------*/
.sliderWrapper {
  overflow: hidden;
}

.swiper {
  padding-bottom: 40px;
  overflow: visible;
}

.swiper .swiper-pagination {
  bottom: 0 !important;
}

.slide {
  display: flex;
  height: 100%;
  max-width: 350px;
}

.slideInner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.swiper-pagination-bullet {
  background: #640d5f !important;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: #640d5f !important;
  opacity: 1;
}
