.contactUs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.title {
  text-align: center;
  padding: 20px;
}

.formDescription {
  width: 40%;
  text-align: center;
  /* padding: 20px; */
}

.img {
  /* width: 300px; */
  width: 80%;
  /* height: 300px; */
}

/*--------------uncomment if cat not need on mobile form------------------*/
/* @media (max-width: 616px) {
  .img {
    display: none;
  }
} */

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputNameWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputWrapper {
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #b5b3b3;
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  background-color: transparent;
  padding: 8px 4px;
  resize: none;
  line-height: 1.5;
}

textarea.input {
  height: 20px;
  overflow: hidden;
  resize: none;
}

.submitBtn {
  cursor: pointer;
  color: var(--color-violet);
  font-weight: 700;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  background-color: transparent;
  border: 2px solid var(--color-violet);
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.submitBtn:hover {
  background-color: var(--color-violet);
  color: var(--color-white);
}

.submitBtn:active {
  background-color: var(--color-dark-gray);
  border-color: var(--color-dark-gray);
  color: var(--color-white);
}

@media (max-width: 620px) {
  .contactUs {
    flex-direction: column;
  }
  .form {
    width: 100%;
  }
  .formDescription {
    width: 100%;
  }
}
