.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-light-violet);
  padding: 20px;
  margin-top: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}
