.footerWrapper {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-light-violet);
  padding: 20px 0;

  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  max-width: 1220px;
}

.logo {
  width: 100px;
  height: 100px;
}

.link {
  cursor: pointer;
  color: var(--color-black);
  margin-left: 5px;
}
