.form {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.items {
  margin: 0 auto;
  width: 100%;
}

.inputField {
  margin: 0 auto;
  width: 90%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid var(--color-violet);
  border-radius: 8px;
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-white);
  outline: none;
  transition: border-color 0.3s ease;
}

.inputField::placeholder {
  color: var(--color-black);
  opacity: 1;
}

.inputField:focus {
  border-color: var(--color-violet);
  opacity: 0.5;
}

.radioWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.radioContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radioPersentage {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.radioPersentageInput {
  position: absolute;
  left: -9999px;
}

.fakeRadio {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: var(--color-light-violet);
  background-color: transparent;
}

.fakeRadio:hover {
  background-color: #d6d6e5;
}

.fakeRadio::before {
  display: flex;
  flex-shrink: 0;
  content: '';
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em var(--color-violet);
}

.radioPersentageInput:checked + .fakeRadio {
  background-color: var(--color-light-violet);
  color: white;
}

.radioPersentageInput:checked + .fakeRadio::before {
  box-shadow: inset 0 0 0 0.4375em var(--color-violet);
}
