.form {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.items {
  margin: 0 auto;
  width: 100%;
}

.inputField {
  margin: 0 auto;
  width: 90%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid var(--color-violet);
  border-radius: 8px;
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-white);
  outline: none;
  transition: border-color 0.3s ease;
}

.inputField::placeholder {
  color: var(--color-black);
  opacity: 1;
}

.inputField:hover {
  background-color: #f0f0ff;
}

.inputField:focus {
  background-color: #f0f0ff;

  border-color: var(--color-violet);
  opacity: 0.5;
}

/* Animal */

.animalWithTooltip {
  position: relative;
}

.labelWithButton {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
  position: relative;
}

.tooltipButton {
  background: none;
  border: none;
  font-size: 1rem;
  width: 25px;
  aspect-ratio: 1;
  background-color: var(--color-lightest-violet);
  border-radius: 50%;
  color: var(--color-white);
  cursor: pointer;
}

.tooltipBox {
  position: absolute;
  top: -60px;
  left: 0;
  background-color: #333;
  color: var(--color-white);
  padding: 8px;
  border-radius: 4px;
  z-index: 10;
  width: 260px;
  font-size: 0.85rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.animalChoiceGroup {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.animalChoiceInput {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.animalChoiceInput:checked + .animalChoiceSpan {
  box-shadow: 0 0 0 0.0625em var(--color-violet);
  background-color: #ffdefe;
  border-right: 0.5px solid var(--color-violet);
  z-index: 1;
  color: var(--color-violet);
}

.animalChoiceLabel {
  position: relative;
}

.animalChoiceSpan {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em 0.75em;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #d3b5d9;
  letter-spacing: 0.05em;
  color: #5a3e63;
  text-align: center;
  transition: background-color 0.5s ease;
}

.animalChoiceLabel:first-child .animalChoiceSpan {
  border-radius: 0.375em 0 0 0.375em;
}

.animalChoiceLabel:last-child .animalChoiceSpan {
  border-radius: 0 0.375em 0.375em 0;
}

/* Persentage */

.percentageWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radioWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.radioContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radioPersentage {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.radioPersentageInput {
  position: absolute;
  left: -9999px;
}

.fakeRadio {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: var(--color-light-violet);
  background-color: transparent;
}

.fakeRadio:hover {
  background-color: #d6d6e5;
}

.fakeRadio::before {
  display: flex;
  flex-shrink: 0;
  content: '';
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em var(--color-violet);
}

.radioPersentageInput:checked + .fakeRadio {
  background-color: var(--color-light-violet);
  color: white;
}

.radioPersentageInput:checked + .fakeRadio::before {
  box-shadow: inset 0 0 0 0.4375em var(--color-violet);
}

/* Size */
.sizeWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Video */

.video {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.videoInput {
  padding: 0.75rem 1rem;
  border: 2px solid var(--color-violet);
  background-color: var(--color-white);
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  font-family: inherit;
  font-size: 1rem;
}

.videoInput:hover {
  border-color: var(--color-violet);
  background-color: #f0f0ff;
}

/* Agreements */

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.checkboxLabel {
  font-size: 18px;
  color: var(--color-black);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.checkboxInput {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-light-violet);
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.checkboxInput::before {
  content: '';
  background-color: var(--color-light-violet);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.checkboxInput:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

/* Btn */

.btn {
  cursor: pointer;
  color: var(--color-violet);
  font-weight: 700;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  background-color: transparent;
  border: 2px solid var(--color-violet);
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--color-violet);
  color: var(--color-white);
}

.btn:active {
  background-color: var(--color-dark-gray);
  border-color: var(--color-dark-gray);
  color: var(--color-white);
}
